<h1>Books#index</h1>

<li><a href="/books/new">Add Book to List </a></li>

<h4>Books to read</h4>

<table>

  <thead>
    <tr>
      <td>
        Author
      </td>
      <td>
        Title
      </td>
      <td>
        Genre
      </td>
      <td>
        Description
      </td>
      <td>
        Edit
      </td>
      <td>
        Delete
      </td>
    </thead>
    <tbody>
<% @books.each do |book| %>
<tr>
  <td>
    <%= book.author %>
  </td>
  <td>
    <%= book.title %>
  </td>
    <td>
      <%= book.genre %>
    </td>
    <td>
      <%= book.description %>
    </td>
    <td>
      <button type="button">Edit NYI</button>
    </td>
    <td>
    <button type="button">Delete NYI</button>
  </td>
</tbody>



<% end %>
</table>
